Deny from 46.2.130.137

RewriteEngine On
RewriteBase /

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule	^sitemap.xml$	/sitemap.php	[L,NC]



ErrorDocument 404 /notfound.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
RewriteRule	^bizkimiz$	/index.php?Pages=1	[L,NC]
RewriteRule	^gizlilikpolitikasi$	/index.php?Pages=2	[L,NC]
RewriteRule	^uyeliksozlesme$	/index.php?Pages=3	[L,NC]
RewriteRule	^bizeulasin$	/index.php?Pages=4	[L,NC]
RewriteRule	^iletisimsonuc$	/index.php?Pages=5	[L,NC]
RewriteRule	^girisyap$	/index.php?Pages=8	[L,NC]
RewriteRule	^girisyaps$	/index.php?Pages=9	[L,NC]
RewriteRule	^sifremiunuttum$	/index.php?Pages=10	[L,NC]
RewriteRule	^sifremiunuttums$	/index.php?Pages=18	[L,NC]
RewriteRule	^kayityok$	/index.php?Pages=10&type=kayityok	[L,NC]
RewriteRule	^sifremiunuttumbos$	/index.php?Pages=10&type=null	[L,NC]
RewriteRule	^uyelik$	/index.php?Pages=11	[L,NC]
RewriteRule	^uyeliks$	/index.php?Pages=12	[L,NC]
RewriteRule	^cikisyap$	/index.php?Pages=17	[L,NC]
RewriteRule	^sifrekisa$	/index.php?Pages=88	[L,NC]
RewriteRule	^yenisifreolustur/([a-zA-Z0-9-_]+)/(.*)$	/index.php?Pages=21&aktivasyon=$1&email=$2	[L,NC]
RewriteRule	^yenisifres/(.*)/([a-zA-Z0-9-_]+)$	/index.php?Pages=22&mail=$1&aktivasyon=$2	[L,NC]
RewriteRule	^hesabim$	/index.php?Pages=27	[L,NC]
RewriteRule	^topluluk-kurallari$	/index.php?Pages=93	[L,NC]
RewriteRule	^hesapbilgileri$	/index.php?Pages=28	[L,NC]
RewriteRule	^favorioyunlarim$	/index.php?Pages=29	[L,NC]
RewriteRule	^favorioyunlarim/(.*)$	/index.php?Pages=29&&Sayfalar=$1	[L,NC]
RewriteRule	^favorihaberlerim$	/index.php?Pages=30	[L,NC]
RewriteRule	^favorihaberlerim/(.*)$	/index.php?Pages=30&&Sayfalar=$1	[L,NC]
RewriteRule	^guvenlikbilgileri$	/index.php?Pages=31	[L,NC]
RewriteRule	^profilbilgileris$	/index.php?Pages=32	[L,NC]
RewriteRule	^haber$	/index.php?Pages=38	[L,NC]
RewriteRule	^haberdetay/(.*)/(.*)$	/index.php?Pages=39&ID=$2	[L,NC]
RewriteRule	^haber/(.*)/(.*)$	/index.php?Pages=38&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^okunanhaberler$	/index.php?Pages=40	[L,NC]
RewriteRule	^konusulanhaberler$	/index.php?Pages=41	[L,NC]
RewriteRule	^haberyorumyap$	/index.php?Pages=42	[L,NC]
RewriteRule	^haberyorumcevap$	/index.php?Pages=43	[L,NC]
RewriteRule	^habertumyorumlar/(.*)/(.*)$	/index.php?Pages=44&HaberId=$2	[L,NC]
RewriteRule	^habertumyorumlaryorumyap/(.*)/(.*)$	/index.php?Pages=45&HaberId=$2	[L,NC]
RewriteRule	^habertumyorumlaryorumcevap/(.*)/(.*)/(.*)$	/index.php?Pages=46&HaberId=$2&YorumId=$3	[L,NC]
RewriteRule	^haberyorums$	/index.php?Pages=47	[L,NC]
RewriteRule	^haberyorumcevaps/(.*)/(.*)/(.*)$	/index.php?Pages=48&HaberId=$2&YorumId=$3	[L,NC]
RewriteRule	^habertumyorumlaryorums/(.*)/(.*)/(.*)$	/index.php?Pages=49&HaberId=$2&YorumId=$3	[L,NC]
RewriteRule	^habertumyorumlaryorumcevaps/(.*)/(.*)/(.*)$	/index.php?Pages=50&HaberId=$2&YorumId=$3	[L,NC]
RewriteRule	^haberfavoriekle/(.*)/(.*)$	/index.php?Pages=51&HaberId=$2	[L,NC]
RewriteRule	^haberfavoricikar/(.*)/(.*)$	/index.php?Pages=52&HaberId=$2	[L,NC]
RewriteRule	^oyun$	/index.php?Pages=53	[L,NC]
# RewriteRule	^aksiyon$	/index.php?Pages=54	[L,NC]
# RewriteRule	^aksiyon/(.*)/(.*)$	/index.php?Pages=54&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^basiteglence$	/index.php?Pages=55	[L,NC]
# RewriteRule	^basiteglence/(.*)/(.*)$	/index.php?Pages=55&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^spor$	/index.php?Pages=56	[L,NC]
# RewriteRule	^spor/(.*)/(.*)$	/index.php?Pages=56&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^simulasyon$	/index.php?Pages=57	[L,NC]
# RewriteRule	^simulasyon/(.*)/(.*)$	/index.php?Pages=57&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^strateji$	/index.php?Pages=58	[L,NC]
# RewriteRule	^strateji/(.*)/(.*)$	/index.php?Pages=58&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^cokoyunculu$	/index.php?Pages=59	[L,NC]
# RewriteRule	^cokoyunculu/(.*)/(.*)$	/index.php?Pages=59&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^macera$	/index.php?Pages=60	[L,NC]
# RewriteRule	^macera/(.*)/(.*)$	/index.php?Pages=60&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^yaris$	/index.php?Pages=61	[L,NC]
# RewriteRule	^yaris/(.*)/(.*)$	/index.php?Pages=61&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^rolyapma$	/index.php?Pages=62	[L,NC]
# RewriteRule	^rolyapma/(.*)/(.*)$	/index.php?Pages=62&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^ucretsiz$	/index.php?Pages=63	[L,NC]
# RewriteRule	^ucretsiz/(.*)/(.*)$	/index.php?Pages=63&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^hayattakalma$	/index.php?Pages=81	[L,NC]
# RewriteRule	^hayattakalma/(.*)/(.*)$	/index.php?Pages=81&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^android$	/index.php?Pages=82	[L,NC]
# RewriteRule	^android/(.*)/(.*)$	/index.php?Pages=82&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^oyundetay/(.*)/(.*)$	/index.php?Pages=64&ID=$2	[L,NC]
RewriteRule	^oyunyorumyap/(.*)/(.*)$	/index.php?Pages=65&OyunId=$2	[L,NC]
RewriteRule	^oyunyorumcevap/(.*)/(.*)/(.*)$	/index.php?Pages=67&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^oyunyorumcevaps/(.*)/(.*)/(.*)$	/index.php?Pages=68&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^oyuntumyorumlar/(.*)/(.*)$	/index.php?Pages=69&OyunId=$2	[L,NC]
RewriteRule	^oyunyorums/(.*)/(.*)/(.*)$	/index.php?Pages=66&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^oyunfavoriekle/(.*)/(.*)$	/index.php?Pages=74&OyunId=$2	[L,NC]
RewriteRule	^oyunfavoricikar/(.*)/(.*)$	/index.php?Pages=75&OyunId=$2	[L,NC]
RewriteRule	^oyuntumyorumlaryorumyap/(.*)/(.*)$	/index.php?Pages=70&OyunId=$2	[L,NC]
RewriteRule	^oyuntumyorumlaryorumcevap/(.*)/(.*)/(.*)$	/index.php?Pages=72&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^oyuntumyorumlaryorums/(.*)/(.*)/(.*)$	/index.php?Pages=71&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^oyuntumyorumlaryorumcevaps/(.*)/(.*)/(.*)$	/index.php?Pages=73&OyunId=$2&YorumId=$3	[L,NC]
RewriteRule	^favorihaberlerimk/(.*)/(.*)$	/index.php?Pages=76&ID=$2	[L,NC]
RewriteRule	^favorihaberlerimhata$	/index.php?Pages=77	[L,NC]
RewriteRule	^favorioyunlarimk/(.*)/(.*)$	/index.php?Pages=78&ID=$2	[L,NC]
RewriteRule	^favorioyunlarimhata$	/index.php?Pages=79	[L,NC]
RewriteRule	^populeroyunlar$	/index.php?Pages=80	[L,NC]
RewriteRule	^tumoyunlar$	/index.php?Pages=83	[L,NC]
RewriteRule	^tumoyunlar/(.*)/(.*)$	/index.php?Pages=83&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^haberara$	/index.php?Pages=84	[L,NC]
RewriteRule	^haberara/(.*)/(.*)$	/index.php?Pages=84&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^oyunarama/(.*)$	/index.php?Pages=85&Ara=$1	[L,NC]
RewriteRule	^oyunara/(.*)/(.*)$	/index.php?Pages=85&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^haberlerara/(.*)$	/index.php?Pages=86&Ara=$1	[L,NC]
RewriteRule	^haberlerarama/(.*)/(.*)$	/index.php?Pages=86&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^cokyakinda$	/index.php?Pages=87	[L,NC]
RewriteRule	^bilgisayarim$	/index.php?Pages=89	[L,NC]
RewriteRule	^bilgisayarims$	/index.php?Pages=90	[L,NC]
RewriteRule	^bilgisayarimbasarili$	/index.php?Pages=91	[L,NC]
RewriteRule	^bilgisayarimhata$	/index.php?Pages=92	[L,NC]
RewriteRule	^bilgisayarim-bos$	/index.php?Pages=89&type=bos	[L,NC]
RewriteRule	^oyunkarakterler/(.*)/(.*)$	/index.php?Pages=94&Oyun=$2	[L,NC]
RewriteRule	^karakterdetay/(.*)/(.*)/(.*)/(.*)$	/index.php?Pages=95&OyunID=$3&ID=$4	[L,NC]
# RewriteRule	^windows$	/index.php?Pages=97	[L,NC]
# RewriteRule	^windows/(.*)/(.*)$	/index.php?Pages=97&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^macos$	/index.php?Pages=98	[L,NC]
# RewriteRule	^macos/(.*)/(.*)$	/index.php?Pages=98&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^linux$	/index.php?Pages=99	[L,NC]
# RewriteRule	^linux/(.*)/(.*)$	/index.php?Pages=99&Ara=$1&Sayfalar=$2	[L,NC]
# RewriteRule	^ios$	/index.php?Pages=100	[L,NC]
# RewriteRule	^ios/(.*)/(.*)$	/index.php?Pages=100&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^kuratorbasvuru$	/index.php?Pages=101	[L,NC]
RewriteRule	^kuratorbasvurus$	/index.php?Pages=101	[L,NC]
RewriteRule	^kuratorbasvuru$	/index.php?Pages=101	[L,NC]
RewriteRule	^kuratorbasvurus$	/index.php?Pages=102	[L,NC]
RewriteRule	^oyuninceleme$	/index.php?Pages=103	[L,NC]
RewriteRule	^oyunincelemes$	/index.php?Pages=104	[L,NC]
RewriteRule	^oyunincelemelerim$	/index.php?Pages=105	[L,NC]
RewriteRule	^oyunincelemelerim/(.*)$	/index.php?Pages=105&&Sayfalar=$1	[L,NC]
RewriteRule	^incelemeduzenle/(.*)/(.*)/(.*)$	/index.php?Pages=108&ID=$3	[L,NC]
RewriteRule	^oyunincelemeler$	/index.php?Pages=109	[L,NC]
RewriteRule	^oyunincelemeler/(.*)/(.*)$	/index.php?Pages=109&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^incelemedetay/(.*)/(.*)/(.*)$	/index.php?Pages=110&kurator=$2&Inceleme=$3	[L,NC]
RewriteRule	^takipettiklerim$	/index.php?Pages=113	[L,NC]
RewriteRule	^takipettiklerim/(.*)/(.*)$	/index.php?Pages=113&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^kurator/(.*)$	/index.php?Pages=114&Kurator=$1	[L,NC]
RewriteRule	^kuratorler$	/index.php?Pages=118	[L,NC]
RewriteRule	^kuratorler/(.*)/(.*)$	/index.php?Pages=118&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^editorbasvuru$	/index.php?Pages=119	[L,NC]
RewriteRule	^editorbasvurus$	/index.php?Pages=120	[L,NC]
RewriteRule	^haberekle$	/index.php?Pages=121	[L,NC]
RewriteRule	^habericerik/(.*)/(.*)$	/index.php?Pages=123&Haber=$2	[L,NC]
RewriteRule	^habericeriks/(.*)/(.*)$	/index.php?Pages=124&Haber=$2	[L,NC]
RewriteRule	^habericerikgs/(.*)$	/index.php?Pages=125&HaberR=$1	[L,NC]
RewriteRule	^incelemelerimdetay/(.*)/(.*)/(.*)$		/index.php?Pages=126&Inceleme=$3	[L,NC]
RewriteRule	^haberlerim$	/index.php?Pages=129	[L,NC]
RewriteRule	^haberlerim/(.*)$	/index.php?Pages=129&&Sayfalar=$1	[L,NC]
RewriteRule	^haberlerimdetay/(.*)/(.*)/(.*)$		/index.php?Pages=130&Haber=$3	[L,NC]
RewriteRule	^icerikdetay/(.*)/(.*)/(.*)/(.*)$	/index.php?Pages=133&Haber=$3&Icerik=$4	[L,NC]
RewriteRule	^sozluk$	/index.php?Pages=142	[L,NC]
RewriteRule	^sozlukara/(.*)/(.*)$	/index.php?Pages=142&Ara=$1&Sayfalar=$2	[L,NC]
RewriteRule	^sozlukkategori/(.*)/(.*)$	/index.php?Pages=146&ID=$2	[L,NC]
RewriteRule	^sozlukkategoriara/(.*)/(.*)/(.*)/(.*)$	/index.php?Pages=146&Ara=$2&Sayfalar=$3&ID=$4	[L,NC]
RewriteRule	^sozlukbaslik/(.*)/(.*)$	/index.php?Pages=143&ID=$2	[L,NC]
RewriteRule	^sozlukbaslikara/(.*)/(.*)/(.*)$	/index.php?Pages=143&Sayfalar=$2&ID=$3	[L,NC]
RewriteRule	^basliklarim$	/index.php?Pages=148	[L,NC]
RewriteRule	^basliklarim/(.*)$	/index.php?Pages=148&&Sayfalar=$1	[L,NC]
RewriteRule	^yorumlarim$	/index.php?Pages=149	[L,NC]
RewriteRule	^yorumlarim/(.*)$	/index.php?Pages=149&&Sayfalar=$1	[L,NC]
RewriteRule	^roak-video$	/index.php?Pages=151	[L,NC]
RewriteRule	^roak-video/(.*)$	/index.php?Pages=151&&Sayfalar=$1	[L,NC]
RewriteRule	^video-detay/(.*)/(.*)$	/index.php?Pages=152&ID=$2	[L,NC]
RewriteRule	^yakinda$	/index.php?Pages=153	[L,NC]
RewriteRule	^yardim$	/index.php?Pages=154	[L,NC]
RewriteRule	^cevap/(.*)/(.*)/(.*)$	/index.php?Pages=155&Kategori=$2&Soru=$3	[L,NC]

RewriteRule	^pc$	/js/blgsy_d_s.php	[L,NC]
RewriteRule	^ebasvur$	/js/editorb_s.php	[L,NC]
RewriteRule	^haberd$	/js/haber-durum.php	[L,NC]
RewriteRule	^habers$	/js/haberlerim-sil.php	[L,NC]
RewriteRule	^haberf$	/js/haberf_s.php	[L,NC]
RewriteRule	^oyunf$	/js/oyunf_s.php	[L,NC]
RewriteRule	^uyeol$	/js/uyeol_s.php	[L,NC]
RewriteRule	^uyegiris$	/js/giris_s.php	[L,NC]
RewriteRule	^guvenliks$	/js/guvnlkd_s.php	[L,NC]
RewriteRule	^haberekles$	/js/haberE__s.php	[L,NC]
RewriteRule	^icerike$	/js/haberIcrk_e_s.php	[L,NC]
RewriteRule	^iceriksil$	/js/haberIcrk_e_s_s.php	[L,NC]
RewriteRule	^habery$	/js/haber_yayin.php	[L,NC]
RewriteRule	^icerikd$	/js/haberIcrk_d.php	[L,NC]
RewriteRule	^haberyorum$	/js/habery_s.php	[L,NC]
RewriteRule	^haberyorumc$	/js/haberyc_s.php	[L,NC]
RewriteRule	^yorumsikayet$	/js/y_sikayet.php	[L,NC]
RewriteRule	^hyorumsil$	/js/haberys_s.php	[L,NC]
RewriteRule	^hcyorumsil$	/js/haberycs_s.php	[L,NC]
RewriteRule	^haberfav$	/js/haberfe_s.php	[L,NC]
RewriteRule	^oyunyorum$	/js/oyuny_s.php	[L,NC]
RewriteRule	^oyunyorumc$	/js/oyunyc_s.php	[L,NC]
RewriteRule	^oyorumsil$	/js/oyunys_s.php	[L,NC]
RewriteRule	^ocyorumsil$	/js/oyunycs_s.php	[L,NC]
RewriteRule	^oyunfav$	/js/oyunfe_s.php	[L,NC]
RewriteRule	^opuan$	/js/oyunp_s.php	[L,NC]
RewriteRule	^haberbilgi$	/js/haberb_d.php	[L,NC]
RewriteRule	^haberkapak$	/js/haberR_d.php	[L,NC]
RewriteRule	^icerikekle$	/js/haberDznl_i_e.php	[L,NC]
RewriteRule	^habericeriksil$	/js/haberIcrk_s.php	[L,NC]
RewriteRule	^profilresim$	/js/profil-resmi.php	[L,NC]
RewriteRule	^profilkaldir$	/js/profil_k.php	[L,NC]
RewriteRule	^hesapbilgi$	/js/hesapb_d_s.php	[L,NC]
RewriteRule	^iltsm$	/js/ilts_s.php	[L,NC]
RewriteRule	^takip$	/js/k_tkp.php	[L,NC]
RewriteRule	^incbegeni$	/js/inc_bgn.php	[L,NC]
RewriteRule	^incsikayet$	/js/inc_sikayet.php	[L,NC]
RewriteRule	^incduzenle$	/js/oyun_inc_d_s.php	[L,NC]
RewriteRule	^kbasvur$	/js/kuratorb_s.php	[L,NC]
RewriteRule	^kuratorsikayet$	/js/k_sikayet.php	[L,NC]
RewriteRule	^kuratord$	/js/k_dznl.php	[L,NC]
RewriteRule	^incelemeekle$	/js/oyun_inc_s.php	[L,NC]
RewriteRule	^incelemed$	/js/inc_durum.php	[L,NC]
RewriteRule	^incelemesil$	/js/oyun_inc_s_s.php	[L,NC]
RewriteRule	^baslikolustur$	/js/sozlukb_s.php	[L,NC]
RewriteRule	^sifreunuttum$	/js/sifre_unt_s.php	[L,NC]
RewriteRule	^byorumsil$	/js/baslikys_s.php	[L,NC]
RewriteRule	^sozluksikayet$	/js/sy_sikayet.php	[L,NC]
RewriteRule	^yorumbegen$	/js/yorum_bgn.php	[L,NC]
RewriteRule	^yorumyap$	/js/basliky_s.php	[L,NC]
RewriteRule	^sifreyeni$	/js/yenisifre_s.php	[L,NC]
RewriteRule	^talep$	/js/talep_s.php	[L,NC]
RewriteRule	^talepbilgi$	/js/talepb_s.php	[L,NC]
RewriteRule	^talepcevap$	/js/talepc_s.php	[L,NC]
RewriteRule	^destek$	/index.php?Pages=150	[L,NC]
RewriteRule	^incelemegorsel$	/js/inc_grsl.php	[L,NC]
RewriteRule	^sistemineozel$	/index.php?Pages=156	[L,NC]
RewriteRule	^oyunoner$	/js/oner.php	[L,NC]
RewriteRule	^indirimler$	/index.php?Pages=157	[L,NC]
RewriteRule	^incyorum$	/js/incy_s.php	[L,NC]
RewriteRule	^incyorumsil$	/js/incys_s.php	[L,NC]

RewriteRule	^editorler$	/index.php?Pages=158	[L,NC]
RewriteRule	^editor/(.*)	/index.php?Pages=159&KullaniciAdi=$1	[L,NC]
RewriteRule	^editorh/(.*)/(.*)$	/index.php?Pages=159&KullaniciAdi=$1&Sayfalar=$2	[L,NC]

